<footer class="site-footer">
  <div class="contact">
    <h1>The Tea Cozy</h1>
    <a href="mailto:contact@theteacozy.com"/><h5>contact@theteacozy.com</h5> </a>
</div>
  <p class="copyright">© 2020 Company Name. All rights reserved.</p>
</footer>