<footer class="site-footer">
  <div class="contact">
    <h1>The Tea Cozy</h1>
    <a href="mailto:contact@theteacozy.com"/><h5>contact@theteacozy.com</h5> </a>
    <p>917-555-8904</p>
</div>
  <div class="copyright">
  <p>&copy; <script>new Date().getFullYear()>1111&&document.write(new Date().getFullYear());</script>
   Company Name. All rights reserved.</p>
   </div>
</footer>