<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <img src="{{ img-tea-cozy-logo.image  }}" class="header-logo" alt="Tea Cozy logo">
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group" >
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>