<header>
  <div class="navigation">
    <div class="page-header__content">
      <div class="logo">
        <img src="/assets/img-tea-cozy-logo.webp" class="header-logo" alt="Tea Cozy logo">
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group" >
          <li>
            <a href="#mission">Mission</a>
          </li>
          <li>
            <a href="#featured">Featured Tea</a>
          </li>
          <li>
            <a href="#location">Location</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>