<section>
<div class="container-locations" id="location">
    <div class="location-title">
        <h2>Locations</h2>
    </div>
    <div class="location-cards">
        <div class="location-card">
            <div class="location-card_text">
                <h3>Downtown</h3>
            </div>
            <div class="location-card_text">
                <p>384 West 4th St</p>
            </div>
            <div class="location-card_text">
                <p>Suite 108</p>
            </div>
            <div class="location-card_text">
                <p>Portland, Maine</p>
            </div>
        </div>
        <div class="location-card">
            <div class="location-card_text">
                <h3>East Bayside</h3>
            </div>
            <div class="location-card_text">
                <p>3433 Phisherman's Avenue</p>
            </div>
            <div class="location-card_text">
                <p>(Northwestern Corner)</p>
            </div>
            <div class="location-card_text">
                <p>Portland, Maine</p>
            </div>
        </div>
        <div class="location-card">
            <div class="location-card_text">
                <h3>Oakdale</h3>
            </div>
            <div class="location-card_text">
                <p>515 Crescent Avenue</p>
            </div>
            <div class="location-card_text">
                <p>Second Floor</p>
            </div>
            <div class="location-card_text">
                <p>Portland Maine</p>
            </div>
        </div>
    </div>
</div>
</section>